<h1>Alta de personal</h1>
<style>
    table {
        width: 100%;
    }
</style>
<fieldset>
    <legend>Información básica</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input type="text" name="nombre" id="nombre"></td>
            <td><label for="apellidop">Apellido Paterno: </label></td>
            <td><input type="text" name="paterno" id="paterno"></td>
            <td><label for="apellidom">Apellido Materno: </label></td>
            <td><input type="text" name="materno" id="materno"></td>
        </tr>
    </table>
    <br><br>
</fieldset>

<fieldset>
    <legend>Datos personales</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="sexo">Sexo:</label></td>
            <td>
                <select id="slcsexo" name="slcSexo">
                    <option value="seleccionasexo" selected="selected">- Selecciona -</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
            </td>

            <td><label for="curp">CURP:</label></td>
            <td><input type="text" name="curp" id="curp" maxlength="18"></td>

            <td><label for="fechanacimiento">Fecha de nacimiento:</label></td>
            <td><input type="date" name="nacimiento" id="fechanacimiento"></td>
            </td>
        </tr>
        <tr>
            <td><label for="nacionalidad">Nacionalidad:</label></td>
            <td>
                <select name="slcNacionalidad" id="slcnacionalidad">
                    <option value="seleccionaN" selected="selected">- Selecciona -</option>
                    <option value="mexicana">Mexicana</option>
                    <option value="extranjera">Extranjera</option>
                </select>
            </td>
            <td><label for="rfc">RFC:</label></td>
            <td><input type="text" name="rfc" id="rfc"></td>
            <td><label for="nns">NSS:</label></td>
            <td><input type="text" name="nss" id="nss"></td>
        </tr>
        <tr>
            <td>
                <label> for="telefono">Telefono:</label>
            </td>
            <td>
                <input type="text" name="telefono" id="telefono" maxlength="18">
            </td>

            <td>
                <label> for="correo">Correo::</label>
            </td>
            <td>
                <input type="text" name="correo" id="correo" maxlength="18">
            </td>

        </tr>
    </table>
    <br><br>
</fieldset>

<fieldset>
    <legend>Domicilio</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="calle">Calle:</label></td>
            <td><input type="text" name="calle" id="calle"></td>
            <td><label for="numeroi">Numero interior:</label></td>
            <td><input type="text" name="numeroi" id="numeroi"></td>
            <td><label for="numeroe">Numero exterior:</label></td>
            <td><input type="text" name="numeroe" id="numeroe"></td>
        </tr>
        <tr>
            <td><label for="colonia">Colonia:</label></td>
            <td><input type="text" name="colonia" id="colonia"></td>
            <td><label for="municipio">Municipio:</label></td>
            <td><input type="text" name="municipio" id="municipio"></td>
            <td><label for="estado">Estado:</label></td>
            <td>
                <select name="slcEstado" id="slcestado">
                    <option value="seleccionaN" selected="selected">- Selecciona -</option>
                    <option value="aguas">Aguas Calientes</option>
                    <option value="bajacnorte">Baja California Norte</option>
                    <option value="bajacsur">Baja California Sur</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="cp">Codigo Postal:</label></td>
            <td><input type="text" name="cp" id="cp"></input></td>
        </tr>
    </table>
    <br><br>
</fieldset>
<fieldset>
    <legend>Datos Laborales</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="puesto">Puesto:</label></td>
            <td>
                <select name="slcPuesto" id="slcpuesto">
                    <option value="selecciona" selected="selected">- Selecciona -</option>
                    <option value="general">Director General</option>
                    <option value="operaciones">Director de Operaciones</option>
                    <option value="desarrolladorm">Desarrollador Movil</option>
                    <option value="fe">Desarrollador FrontEnd</option>
                    <option value="be">Desarrollador BackEnd</option>
                    <option value="full">Desarrollador FullStack</option>
                </select>
            </td>
            <td><label for="fechaingreso">Fecha de Ingreso:</label></td>
            <td><input type="date" name="fechaingreso" id="fechaingreso"></td>
            <td><label for="salario">Salario Diario:</label></td>
            <td><input type="text" name="salario" id="salario"></td>
        </tr>
        <tr>
            <td><label for="horario">Horario:</label></td>
            <td>
                <select name="slcHorario" id="slchorario">
                    <option value="selecciona">- Selecciona -</option>
                    <option value="">L-V 8 - 5</option>
                    <option value="">L-V 8 - 3 y S 8 - 12</option>
                    <option value="">L-V 3 - 10</option>
                </select>
            </td>
            <td><label for="totalf">Total Faltas:</label></td>
            <td><input type="text" name="totalf" id="totalf"></td>
        </tr>
    </table>
    <br><br>
</fieldset>

<button id="bttnGuardar" type="button">Guardar</button>
<button id="bttnCerrar" type="button" onclick="window.location.href='/Empleado/Listado'">Cerrar</button>
<button type="submit"> </button>

<script>
    window.onload = function () {
        cargar();
    };
    function cargar() {
        //1. Iniciar
        //2. Obtener el id del empleado
        const url = window.location.pathname;
        const arreglo = url.split("/");
        const IdEmpleado = arreglo[3];

        //3. Consumir el servicio de obtener por el id 
        var requestOptions ={
            method: 'GET',
            redirect: 'folow'
        };
        fetq(url, requestOptions)
        .then(response => response.JSON())
        .then(result => {
            console.log(result);
    })

        //
        
        .catch(error => {
             console.log('error', error)

    });

    function guardar() {

        //OBTENER VALORES DE LOS ELEMENTOS HTML
        const nombre = document.getElementById("nombre").value;
        const paterno = document.getElementById("paterno").value;
        const materno = document.getElementById("materno").value;
        const sexo = document.getElementById("slcsexo").value;
        const curp = document.getElementById("curp").value;
        const fechanacimiento = document.getElementById("fechanacimiento").value;
        const telefono = document.getElementById("telefono").value;
        const correo = document.getElementById("correo").value;
        const rfc = document.getElementById("rfc").value;
        const nss = document.getElementById("nss").value;
        const calle = document.getElementById("calle").value;
        const numeroi = document.getElementById("numeroi").value;
        const numeroe = document.getElementById("numeroe").value;
        const colonia = document.getElementById("colonia").value;
        const municipio = document.getElementById("municipio").value;
        const estado = document.getElementById("slcestado").value;
        const cp = document.getElementById("cp").value;
        const puesto = document.getElementById("slcpuesto").value;
        const fechaingreso = document.getElementById("fechaingreso").value;
        const salario = document.getElementById("salario").value;
        const horario = document.getElementById("slchorario").value;
        const totalFaltas = document.getElementById("totalf").value;

        constnombre = document.getElementById("nombre");
        console.log("Este es Nombre: " + nombre);
        console.log(nombre.value);

        const valor_nombre = document.getElementById("nombre").value;

        alert("Estamos guardadndo 2021-10-04");

        // PREPRARANDO LA CABECERA DE LA PETICION
        var myHeaders = new Headers();
        myHeaders.append("Content-Type", "application/json");

        // PREPARANDO EL JSON DE LA PETICION
        var raw = JSON stringify({
            "Nombre": nombre,
            "ApellidoPaterno": paterno,
            "ApellidoMaterno": materno,
            "Sexo": sexo,
            "CURP": curp,
            "Telefono": telefono,
            "CorreoElectronico": correo,
            "FechaNacimiento": fechanacimiento,
            "Nacionalidad": nacionalidad,
            "RFC": rfc,
            "Puesto": puesto,
            "FechaIngreso": fechaingreso,
            "salarioDiario": salario,
            "NSS": nss,
            "Horario": horario,
            "TotalFaltas": totalFaltas,
            "Direccion": {
                "Calle": calle,
                "NumeroExterior": numeroe,
                "NumeroInterior": numeroi,
                "Colonia": colonia,
                "Municipio": municipio,
                "Estado": estado,
                "CodigoPostal": cp
            }
        });
        console.log(raw);
        var requestOptions = {
            method: 'POST',
            Headers: myHeaders,
            body: raw,
            redirect: 'folow'
        };

        fetch("https://localhost:5002/Empleados", requestOptions)
            .then(response => response.text())
            , then(result => console.log(result))
                .catch(error => console.log('error', error));


    }

</script>