<h1 id="titulo"></h1>
<style>
    table {
        width: 100%;
    }
</style>
<fieldset>
    <legend>Información básica</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="nombre">Nombre: </label></td>
            <td><input type="text" name="nombre" id="nombre"></td>
            <td><label for="apellidop">Apellido Paterno: </label></td>
            <td><input type="text" name="paterno" id="paterno"></td>
            <td><label for="apellidom">Apellido Materno: </label></td>
            <td><input type="text" name="materno" id="materno"></td>
        </tr>
    </table>
    <br><br>
</fieldset>

<fieldset>
    <legend>Datos personales</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="sexo">Sexo:</label></td>
            <td>
                <select id="slcsexo" name="slcSexo">
                    <option value="seleccionasexo" selected="selected">- Selecciona -</option>
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
            </td>

            <td><label for="curp">CURP:</label></td>
            <td><input type="text" name="curp" id="curp" maxlength="18"></td>

            <td><label for="fechanacimiento">Fecha de nacimiento:</label></td>
            <td><input type="date" name="nacimiento" id="fechanacimiento"></td>
            </td>
        </tr>
        <tr>
            <td><label for="nacionalidad">Nacionalidad:</label></td>
            <td>
                <select name="slcNacionalidad" id="slcnacionalidad">
                    <option value="seleccionaN" selected="selected">- Selecciona -</option>
                    <option value="mexicana">Mexicana</option>
                    <option value="extranjera">Extranjera</option>
                </select>
            </td>
            <td><label for="rfc">RFC:</label></td>
            <td><input type="text" name="rfc" id="rfc"></td>
            <td><label for="nns">NSS:</label></td>
            <td><input type="text" name="nss" id="nss"></td>
        </tr>
        <tr>
            <td>
                <label for="telefono">Telefono:</label>
            </td>
            <td>
                <input type="text" name="telefono" id="telefono" maxlength="18">
            </td>

            <td>
                <label for="correo">Correo::</label>
            </td>
            <td>
                <input type="text" name="correo" id="correo" maxlength="18">
            </td>

        </tr>
    </table>
    <br><br>
</fieldset>

<fieldset>
    <legend>Domicilio</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="calle">Calle:</label></td>
            <td><input type="text" name="calle" id="calle"></td>
            <td><label for="numeroi">Numero interior:</label></td>
            <td><input type="text" name="numeroi" id="numeroi"></td>
            <td><label for="numeroe">Numero exterior:</label></td>
            <td><input type="text" name="numeroe" id="numeroe"></td>
        </tr>
        <tr>
            <td><label for="colonia">Colonia:</label></td>
            <td><input type="text" name="colonia" id="colonia"></td>
            <td><label for="municipio">Municipio:</label></td>
            <td><input type="text" name="municipio" id="municipio"></td>
            <td><label for="estado">Estado:</label></td>
            <td>
                <select name="slcEstado" id="slcestado">
                    <option value="seleccionaN" selected="selected">- Selecciona -</option>
                    <option value="aguas">Aguas Calientes</option>
                    <option value="bajacnorte">Baja California Norte</option>
                    <option value="bajacsur">Baja California Sur</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label for="cp">Codigo Postal:</label></td>
            <td><input type="text" name="cp" id="cp"></input></td>
        </tr>
    </table>
    <br><br>
</fieldset>
<fieldset>
    <legend>Datos Laborales</legend>
    <br><br>
    <table>
        <tr>
            <td><label for="puesto">Puesto:</label></td>
            <td>
                <select name="slcPuesto" id="slcpuesto">
                    <option value="selecciona" selected="selected">- Selecciona -</option>
                    <option value="general">Director General</option>
                    <option value="operaciones">Director de Operaciones</option>
                    <option value="desarrolladorm">Desarrollador Movil</option>
                    <option value="fe">Desarrollador FrontEnd</option>
                    <option value="be">Desarrollador BackEnd</option>
                    <option value="full">Desarrollador FullStack</option>
                </select>
            </td>
            <td><label for="fechaingreso">Fecha de Ingreso:</label></td>
            <td><input type="date" name="fechaingreso" id="fechaingreso"></td>
            <td><label for="salario">Salario Diario:</label></td>
            <td><input type="text" name="salario" id="salario"></td>
        </tr>
        <tr>
            <td><label for="horario">Horario:</label></td>
            <td>
                <select name="slcHorario" id="slchorario">
                    <option value="selecciona">- Selecciona -</option>
                    <option value="">L-V 8 - 5</option>
                    <option value="">L-V 8 - 3 y S 8 - 12</option>
                    <option value="">L-V 3 - 10</option>
                </select>
            </td>
            <td><label for="totalf">Total Faltas:</label></td>
            <td><input type="text" name="totalf" id="totalf"></td>
        </tr>
    </table>
    <br><br>
</fieldset>

<button id="bttnGuardar" type="button">Guardar</button>
<button id="bttnCerrar" type="button" onclick="window.location.href='/Empleado/Listado'">Cerrar</button>
<button type="submit"> </button>

<script>

    var accion = "";
    var IdEmpleado = 0;

    window.onload = function () {

        //debugger;

        //1. INICIO
        //2.OBTENER EL PATH DE LA URL
        const path = window.location.pathname;
        //3.OBTENER LA ACCION A REALIZAR CON LA URL **REGISTRAR O EDITAR**
        const arreglo = path.split("/");
        const accionURL = arreglo[2];

        //4.SI ES EDITAR
        if (accionURL.toUpperCase() = "EDITAR") {
            //4.1 REGISTRAR LA ACCION DE EDITAR COMO VARIABLE GLOBAL   
            accion = "EDITAR";
            //4.2 ACTUALIZAR EL TITULO A EDICION DE EMPLEADO
            const titulo = document.getElementById("titulo");
            titulo.innerHTML = 'Edicion de Empleado';
            //4.3 CARGAR LA INFORMACION DEL EMPLEADO
            cargar();
        }
        else if (accionURL.toUpperCase() == "REGISTRAR") {
            //5.SI ES REGISTRAR
            //5.1 REGISTAR LA ACCION DE REGISTRAR COMO VARIABLE GLOBAL
            accion = "REGISTRAR";
            //5.2 ACTUALIZAR EL TITULO DE ALTA EMPLEADOS
            const titulo = document.getElementById("titulo");
            titulo.innerHTML = 'Alta de Empleado';
        }
        else {

            //6. SI LA OPCIÓN ES DIFERENTE DE EDITAR - REGISTRAR MANDAR UN MENSAJE DE ACCION NO VALIDA
            alert("Accion no valida");
        }
        //7. FIN
    };

    function cargar() {
        //1. Iniciar
        //2. Obtener el id del empleado
        const path = window.location.pathname;
        const arreglo = path.split("/");
        const IdEmpleado = arreglo[3];

        //3. Consumir el servicio de obtener por el id 
        var requestOptions = {
            method: 'GET',
            redirect: 'folow'
        };
        fetch(url, requestOptions)
            .then(response => {

                if (response.status == 200) {
                    // debugger;
                    esponse.json().then(empleado => {


                        //3.1 SI EL SERVICIO ME REGRESO EL EMPLEADO, PINTARLO EN PANTALLA
                        //3. OBTENER LOS ELEMENTOS HTML
                        const nombre = document.getElementById("nombre");
                        const paterno = document.getElementById("paterno");
                        const materno = document.getElementById("materno");
                        const sexo = document.getElementById("slcsexo");
                        const curp = document.getElementById("curp");
                        const fechanacimiento = document.getElementById("fechanacimiento");
                        const telefono = document.getElementById("telefono");
                        const correo = document.getElementById("correo");
                        const rfc = document.getElementById("rfc");
                        const nss = document.getElementById("nss");
                        const calle = document.getElementById("calle");
                        const numeroi = document.getElementById("numeroi");
                        const numeroe = document.getElementById("numeroe");
                        const colonia = document.getElementById("colonia");
                        const municipio = document.getElementById("municipio");
                        const estado = document.getElementById("slcestado");
                        const cp = document.getElementById("cp");
                        const puesto = document.getElementById("slcpuesto");
                        const fechaingreso = document.getElementById("fechaingreso");
                        const salario = document.getElementById("salario");
                        const horario = document.getElementById("slchorario");
                        const totalFaltas = document.getElementById("totalf");



                        //3.2 PINTAR LAS PROPIEDADES DE LOS ELEMENTOS HTML
                        nombre.value = empleado.nombre;
                        paterno.value = empleado.apellidoPaterno;
                        materno.value = empleado.apelldioMaterno;
                        sexo.value = empleado.sexo;
                        curp.value = empleado.curp;
                        fechanacimiento.value = empleado.FechaNacimiento;
                        nacionalidad.value = empleado.nacionalidad;
                        telefono.value = empleado.telefono;
                        correo.value = empleado.correoElectronico;
                        rfc.value = empleado.rfc;
                        nss.value = empleado.nss;
                        calle.value = empleado.direccion.Calle;
                        numeroi.value = empleado.direccion.NumeroInterior;
                        numeroe.value = empleado.direccion.NumeroExterior;
                        colonia.value = empleado.direccion.colonia;
                        municipio.value = empleado.direccion.municipio;
                        estado.value = empleado.direccion.estado;
                        cp.value = empleado.direccion.CodigoPostal;
                        puesto.value = empleado.puesto;
                        fechaingreso.value = obtenerFecha(empleado.FechaIngreso);
                        salario.value = empleado.salarioDiario;
                        horario.value = empleado.horario;
                        totalFaltas.value = empleado.totalFaltas;
                    });

                }
                else {
                    //debugger;
                    //3.2 SI EL SERVICIO NO REGRESO EL EMPELADO, PINTAR EL MENSAJE DE NO ENCONTRADO EN PANTALLA
                    alert("No se encontro el empleado, contactar al administrador");
                    console.log("No se encontro el empleado, contactar al administrador", response);
                }


            .catch (error => {
                    //3.3 SI HUBO UN ERROR, MOSTRAR EL MENSAJE DE ERROR EN LA PANTALLA
                    alert("Ocurrio un error, contactar al administrador");
                    console.log("Ocurrio un error, contactar al administrador", response);

                });
        //4. FIN



        function obtenerFecha(fecha) {

            @* var date = new Date(fecha);
                    var anio = date.getFullYear;

                    var mes = "" + date.getMonth() + 1;
                    mes = mes.padStart(2, "0");*@

                fecha = fecha.substring(0, 10);
            console.log(fecha);

            return fecha;

            @* var fecha = new Date(empleado.FechaNacimiento);
                    console.log("esta es la fecha");
                    console.log(date.getFullYear());
                    console.log(date.getMonth());
                    console.log(date.getDate());
                    console.log(date.getFullYear() + "-" +  (date.getMonth() + 1) + "-" + date.getDate());

                    return date.getFullYear() + "-0" +  (date.getMonth() + 1) + "-" + date.getDate();*@
        }



        function ObtenerPeticion() {
            //1 INICIO
            //2 OBTENER TODOS LOS ELEMENTOS HTML Y OBTENER LOS VALORES DE LOS ELEMENTOS HTML
            const nombre = document.getElementById("nombre").value;
            const paterno = document.getElementById("paterno").value;
            const materno = document.getElementById("materno").value;
            const sexo = document.getElementById("slcsexo").value;
            const curp = document.getElementById("curp").value;
            const fechanacimiento = document.getElementById("fechanacimiento").value;
            const nacionalidad = document.getElementById("slcnacionalidad");
            const telefono = document.getElementById("telefono").value;
            const correo = document.getElementById("correo").value;
            const rfc = document.getElementById("rfc").value;
            const nss = document.getElementById("nss").value;
            const calle = document.getElementById("calle").value;
            const numeroi = document.getElementById("numeroi").value;
            const numeroe = document.getElementById("numeroe").value;
            const colonia = document.getElementById("colonia").value;
            const municipio = document.getElementById("municipio").value;
            const estado = document.getElementById("slcestado").value;
            const cp = document.getElementById("cp").value;
            const puesto = document.getElementById("slcpuesto").value;
            const fechaingreso = document.getElementById("fechaingreso").value;
            const salario = document.getElementById("salario").value;
            const horario = document.getElementById("slchorario").value;
            const totalFaltas = document.getElementById("totalf").value;

            //4 CREAR LA PETICION JSON A REALIZAR
            var raw = JSON.stringify({
                "IdEmpleado": IdEmpleado,
                "rfc": rfc,
                "puesto": puesto,
                "fechaIngreso": fechaingreso,
                "salarioDiario": salario,
                "nss": nss,
                "horario": horario,
                "totalFaltas": totalFaltas,
                "activo": true,
                "nombre": nombre,
                "apellidoPaterno": paterno,
                "apellidoMaterno": materno,
                "sexo": sexo,
                "curp": curp,
                "telefono": telefono,
                "correoElectronico": correo,
                "fechaNacimiento": fechanacimiento,
                "nacionalidad": nacionalidad,
                "direccion": {
                    "calle": calle,
                    "numeroExterior": numeroe,
                    "numeroInterior": numeroi,
                    "colonia": colonia,
                    "municipio": municipio,
                    "estado": estado,
                    "codigoPostal": cp
                }
            });

            return raw;

            //5 FIN
        }


        function guardar() {

            //debugger;

            //1. INICIO
            //2. OBTENER LA ACCION DE EDTIAR O REGISTRAR
            if (accion == "EDITAR") {

                console.log("ACCION EDITAR");

                //3. SI ES **EDITAR**
                //3.1 OBTENER LA PETICION A TRAVES DEL METODO OBTENERPETICION
                var raw = ObtenerPeticion();

                //3.2 CREAR Y REALIZAR LA PETICION AL SERVICIO DE EDITAR
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var requestOptions = {
                    metod: 'PUT',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("https://localhost:5002/Empleados", requestOptions)
                    .then(response => {

                        if (response.status == 200) {
                            //3.4 SI SE GUARDO CORRECTAMENTE MANDAR EL MENSAJE DE QUE LOS DATOS SE GUARDARON CORRECTAMENTE
                            alert("Los datos se guardaron correctamente");
                        }
                        else {
                            //3.5 SI NO SE GUARDO CORRECTAMENTE, MANDAR EL MENSAJE DE QUE LOS DATOS SE GUARDARON CORRECTAMENTE
                            alert("Los datos no se guardaron correctamente, contacte al administrador");
                            console.log("Los datos no se guardaron correctamente", response);
                        }
                    })

                    .catch(error => {

                        //3.6 SI NO SE PUDO REALIZAR LA CONEXION AL SERVICIO MANDAR MENSAJE DE QUE NO SE PUDO
                        // REALIZAR LA ACCION, CONTACTE AL ADMINISTRADOR
                        alert("No se pudo realizar la accion, contacte al administrador");
                        console.log("No se pudo realizar la accion", response);

                    });
            }


            else if (accion == "REGISTRO") {
                console.log("ACCION REGISTRO");
                //4. SI ES **REGISTRO**
                var raw = ObtenerPeticion();
                //4.1 OBTENER LA PETICION A TRAVES DEL METODO 

                //4.4 CREAR Y REALIZAR LA PETICION AL SERVICIO DE REGISTRA
                var myHeaders = new Headers();
                myHeaders.append("Content-Type", "application/json");

                var requestOptions = {
                    metod: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("https://localhost:5002/Empleados", requestOptions)
                    .then(response => {

                        if (response.status == 200) {
                            //4.5 SI SE GUARDO CORRECTAMENTE, MANDAR EL MENSAJE DE QUE LOS DATOS SE GUARDARON CORRECTAMENTE
                            alert("Los datos se guardaron correctamente");
                        }
                        else {
                            //4.6 SI NO SE GUARDO CORRECTAMENTE MANDAR MENSAJE DE QUE LOS DATOS NO SE GUARDARON CORRECTAMENTE, CONTACTE AL ADMINISTRADOR
                            alert("Los datos no se guardaron correctamente, contacte al administrador");
                            console.log("No se pudo realizar la accion", response);
                        }

                    })
                    .catch(error => {

                        //4.7 SI NO SE PUDO REALIZr la conexion al servicio mandar mensaje de que no se pudo realizar, contacte al administrador
                        alert("NO SE PUDO REALIZAR LA ACCION,CONTACTE AL ADMINISTRADOR");
                        console.log("NO SE PUDO REALIZAR LA ACCION,CONTACTE AL ADMINISTRADOR", response);
                    });


            }
            else {
                console.log("ACCION NO VALIDA");
                // 5.SI NO ES EDITAR Y TAMPOCO REGISTRO
                // 5.1 MANDAR MENSAJE DE ERRROR DE ACCION NO VALIDA
                alert("ACCION NO VALIDA");
                //6. FIN

            }

</script>