@{
    Layout = null;
}
<html>

<head>
    <title>Empleado - Listado de Personal </title>

<body onload="IniciarPagina()">
    <div>
        <h2>Listado de Personal</h2>
        <br>
        <br>
        <a href="/Empleado/Registro">Agregar Empleado</a>
        <br>
        <br>
        <table id="tblEmpleados" style="width: 100%;">
            <thead>
                <tr>
                    <td>
                        Id Empleado
                    </td>
                    <td>
                        Nombre
                    </td>
                    ....
                    <td>
                        <a href="/Empleados/Editar/1">Editar</a>
                    </td>
                    <td>
                        Puesto
                    </td>
                    <td>
                        Telefono
                    </td>
                    <td>
                        Correo Electronico
                    </td>
                    <td>
                        Consultar
                    </td>
                    <td>
                        Editar
                    </td>
                    <td>
                        Eliminar
                    </td>

                </tr>
            </thead>

        </table>

    </div>
    <script>
        function IniciarPagina() {

            //1. OBTENER LISTA A TRAVES DEL SERVICIO DE EMPLEADOS -- RETORNA UN ARREGLO EMPLEADOS[]
            //[{Empleado a},{Empleado b}, {Empleado c}] -->httpGet
            var requestOptions = {
                method: 'GET',
                redirect: 'folow'
                Headers: {

                }
            };

            fetch("http://localhost:5001/Empleados", requestOptions)
                .then(response => response.json())
                .then(result => {
                    // 1.1 SI LA PETICIÓN FUE CORRECTA
                    //1.1.1 BUSCAR EL ELEMANTO html TABLA
                    const tabla = document.getElementById("tblEmpleados");
                    const tbody = tabla.querySelectorAll("tbody")[0];


                    //1.1.2 ITERAMOS EL ARREGLO EMPLEADOS
                    for (let i = 0; i < result.items.length; i++) {

                        //1.1.2.1 POR CADA ITERACION CREAR UNA FILA EN LA TABLA
                        const tr = document.createElement("tr");
                        tbody.appendChild(tr);

                        var td = null;
                        var a = null;

                        const td;
                        //1.1.2.2.1 PARA LA PROPIEDAD idEmpleado CREA UN td AGREGAR EL VALOR DE LA PROPIEDAD AL td Y AGREGAR EL td AL tr QUE SE ESTA CREANDO
                        td = document.createElement("td");
                        td.textContent = result[i].IdEmpleado;
                        tr.appendChild(td);

                        //1.1.2.2.2 PARA LA PROPIEDAD Nombre CREA UN td AGREGAR EL VALOR DE LA PROPIEDAD AL td Y AGREGAR EL td AL tr QUE SE ESTA CREANDO
                        td = document.createElement("td");
                        td.textContent = result[i].nombre + ' ' + result[i].apellidoPaterno + ' ' + result[i].apellidoMaterno;
                        tr.appendChild(td);

                        //1.1.2.2.3 PARA LA PROPIEDAD Puesto CREA UN td AGREGAR EL VALOR DE LA PROPIEDAD AL td Y AGREGAR EL td AL tr QUE SE ESTA CREANDO
                        td = document.createElement("td");
                        td.textContent = result[i].puesto;
                        tr.appendChild(td);

                        //1.1.2.2.4 PARA LA PROPIEDAD Telefono CREA UN td AGREGAR EL VALOR DE LA PROPIEDAD AL td Y AGREGAR EL td AL tr QUE SE ESTA CREANDO
                        td = document.createElement("td");
                        td.textContent = result[i].telefono;
                        tr.appendChild(td);

                        //1.1.2.2.5 PARA LA PROPIEDAD Correo CREA UN td AGREGAR EL VALOR DE LA PROPIEDAD AL td Y AGREGAR EL td AL tr QUE SE ESTA CREANDO
                        td = document.createElement("td");
                        td.textContent = result[i].correoElectronico;
                        tr.appendChild(td);

                        //1.1.2.2.6 PARA EL EDITAR CREAR UN td, CREAR ANCHOR Y AGREGAR EL href /Empleado/Editar/ CON IdEmpleado
                        td = document.createElement("td");
                        a = document.createElement("a");
                        a.href = "/Empleado/Editar/" + result[i].IdEmpleado;
                        a.textContent = "Editar";
                        td.appendChild(a);
                        tr.appendChild(td);

                        //1.1.2.2.7  PARA ELIMINAR CREAR UN td CREAR ANCHIR Y AGREGAR EL herf /eMPLEADO/Editar


                    }

                })
                .catch(error => {
                    //1.2 SI LA PETICION FUE INCORRECTA
                    //1.2.1 ENVIAR EL MENSAJE DE ERROR AL MOMENTO DE REALIZAR LA CONSULTA EMPLEADOS
                    alert("Error al momento de realizar la consulta de empleados, intente mas tarde");
                } console.log('error', error));

            //2. BUSCA LA TABLA
            //<TABLE>
            //3. ITERA EL ARREGLO DE EMPLEADO QUE REGRESO EL SERVICIO
            //3.1 POR CADA ITERACION ARMA UNA FILA DE LA TABLA (POR CADA EMPLEADO) 


        }
    </script>


</body>
</head>

</html>