@{
    Layout = null;
}


<html>

<head>
    <title>Empleado - Listado de Personal </title>

<body>
    <div>
        <h2>Listado de Personal</h2>
        <br>
        <br>
        <a href="/Empleado/Registro">Agregar Empleado</a>
        <table>
            <thead>
                <tr>
                    <td>
                        Id Empleado
                    </td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Puesto
                    </td>
                    <td>
                        Telefono
                    </td>
                    <td>
                        Correo Electronico
                    </td>
                    <td>
                        Consultar
                    </td>
                    <td>
                        Editar
                    </td>
                    <td>
                        Eliminar
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        JUANITO PEREZ
                    </td>
                    <td>
                        DESARROLLADOR MOVIL
                    </td>
                    <td>
                        2222-22222-222-2222
                    </td>
                    <td>
                        juanitoperez@correo.com
                    </td>
                    <td>
                        <a href="~/Empleado/Consultar">Consultar</a>
                    </td>
                    <td>
                        <a href="~/Empleado/Editar">Editar</a>
                    </td>
                    <td>
                        <a href="~/Empleado/Registro">Eliminar</a>
                    </td>
                </tr>

                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        MARIA HERNANDEZ
                    </td>
                    <td>
                        DIRECTORA GENERAL
                    </td>
                    <td>
                        1111-1111-1111-1111
                    </td>
                    <td>
                        mariahernadez@correo.com
                    </td>
                    <td>
                        <a href="~/Empleado/Consultar">Consultar</a>
                    </td>
                    <td>
                        <a href="~/Empleado/Editar">Editar</a>
                    </td>
                    <td>
                        <a href="~/Empleado/Registro">Eliminar</a>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</body>
</head>

</html>