@{
    Layout = null;
}


<html>

<head>
    <title>Empleado - Listado de Personal </title>

<body onload="IniciarPagina()">
    <div>
        <h2>Listado de Personal</h2>
        <br>
        <br>
        <a href="/Empleado/Registro">Agregar Empleado</a>
        <br>
        <br>
        <table style="width: 100%;">
            <thead>
                <tr>
                    <td>
                        Id Empleado
                    </td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Puesto
                    </td>
                    <td>
                        Telefono
                    </td>
                    <td>
                        Correo Electronico
                    </td>
                    <td>
                        Consultar
                    </td>
                    <td>
                        Editar
                    </td>
                    <td>
                        Eliminar
                    </td>

                </tr>
            </thead>

        </table>

    </div>
    <script>
        function IniciarPagina() {

            //1. OBTENER LISTA
            //[{Empleado a},{Empleado b}, {Empleado c}] -->httpGet
            var requestOptions = {
                method: 'GET',
                redirect: 'folow'
            };

            fetch("http://localhost:5003/Empleados", requestOptions)
                .then(Response => Response.text())
                .then(result => console.log(result))
                .then(Error => console.log('error', error));

            //2. BUSCA LA TABLA
            //<TABLE>
            //3. ITERA EL ARREGLO DE EMPLEADO QUE REGRESO EL SERVICIO
            //3.1 POR CADA ITERACION ARMA UNA FILA DE LA TABLA (POR CADA EMPLEADO) 


        }
    </script>


</body>
</head>

</html>